.body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(0, 100, 0);
    background: #fff;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 15px;
    width: 30%;
    color: white;
    text-align: center; /* centraliza o conteúdo horizontalmente */
}

.inputBox {
    position: relative;
    margin-bottom: 20px;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: solid 1px;
    outline: none;
    font-size: 15px;
    width: 100%;
    color: #fff;
    letter-spacing: 2px;
}

fieldset {
    border: 3px solid #000;
}

legend {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    background-color: #000;
    border-radius: 15px;
}

.label_input {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

#submit {
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 40%;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px auto;
    display: block;
}

#submit:hover {
    background-color: aqua;
    cursor: pointer;
}

input::placeholder {
    color: #ffff;
    /* Cor desejada */
}

.form-select {
    border-radius: 7px;
    margin: 2px;
}

.arranchar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* fundo branco para melhor visibilidade */
    border-radius: 10px;
}
